@model HighScoreServer.Models.ScoreConfig
<h2>Admin Panel</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <!--Name-->
    @Html.LabelFor(x => x.MaxScores)
    @Html.EditorFor(x => x.MaxScores)
    <!--Clear Scores-->
    @Html.LabelFor(x => x.ResetScores)
    @Html.EditorFor(x => x.ResetScores)
    @Html.ValidationMessageFor(x => x.MaxScores)
    <br /><br />

    <!--Submit Button-->
    <button type="submit">Save Settings</button>
}